{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' type='text/css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' type='text/javascript'> </script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' type='text/javaScript'> </script>
    <script src='{% static 'user_profile/js/javascript.js' %}' type='text/javascript'> </script>
    <script src='{% static 'user_profile/js/ApplicationRequest.js' %}' type='text/javascript'> </script>
    <link href='{% static "user_profile/css/base.css" %}' type='text/css' rel='stylesheet' />
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

      {% if messages %}
        <div class='alert alert-success message'>
          <strong>Messages:</strong>
          <ul>
        	  {% for message in messages %}
        	    <li>{{message}}</li>
        	  {% endfor %}
          </ul>
        </div>
      {% endif %}
    <div class='main-menu col-sm-4'>
      <strong>Menu:</strong>
      <ul>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
	<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Sign In</a></li>
	<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
	{% endif %}
      </ul>
    </div>
    <div class='log-in col-lg-4'>
    {% block content %}
    {% endblock %}
    {% endblock %}
  </div>
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
