.main-menu{
  margin-top:20%;
  margin-left:20%;
}

.log-in{
  margin-top:10%;
}

#id_remember{
  margin-left: 30%;
}

.message{
  margin: 10px 10px 10px 10px;
  text-align: center;
  text-decoration:
}
